* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
div.out {
  display: flex;
  justify-content: center;
  align-items: center;
}
div.container {
  display: flex;
  width: 600px;
  height: 800px;
  border: 1px solid;
  /* margin: 20px auto; */
}
.boxtrai {
  width: 280px;
  height: 785px;
  padding: 1px;
  margin: 4px;
  display: flex;
  flex-wrap: wrap;
}
.ngoai {
  display: flex;
}
.trong {
  display: flex;
  padding: 2px;
  flex-wrap: wrap;
  /* border: solid; */
  width: 140px;
  height: 570px;
}
.trong div:first-child {
  width: 130px;
  height: 400px;
  border: solid;
  margin: 2px;
}
.trong div:nth-child(2) {
  width: 130px;
  height: 150px;
  border: solid;
  margin: 2px;
}
.sidetrong {
  width: 120px;
  height: 560px;
  border: solid;
  margin: 2px;
}
.bottomleft {
  width: 260px;
  height: 200px;
  border: solid;
  margin: 2px;
}
.boxphai {
  width: 290px;
  height: 500px;
  /* border: solid; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 5px;
}
.boxphai1-2 {
  width: 130px;
  height: 340px;
  border: solid;
  margin-top: 3px;
}
.boxphai div:last-child {
  width: 270px;
  height: 120px;
  border: solid;
}
.phaingoai {
  width: 295px;
  height: 795px;
  /* border: solid 1px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.boxcuoi {
  margin-top: 4px;
  width: 280px;
  height: 270px;
  border: solid;
}
.shapeup {
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.shape1 {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid blue;
}
.shape2 {
  width: 15px;
  height: 15px;
  background: blue;
}
.shapedown {
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.shape3 {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid blue;
}
.shape4 {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 15px solid blue;
  border-bottom: 15px solid transparent;
}
.shapeleft {
  display: flex;
  justify-content: center;
  align-items: center;
}
.shape {
  display: flex;
  justify-content: center;
  align-items: center;
}
.shape5 {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-left: 15px solid blue;
  border-bottom: 15px solid transparent;
}
.shaperight {
  display: flex;
  justify-content: center;
  align-items: center;
}
.circleshape {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  position: fixed;
  top: 10px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
